.fundoCadastro {
  background-image: url("https://ik.imagekit.io/machadofatima/Blog%20Pessoal/blog_signup.svg?updatedAt=1737472933058");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: 70%;
  background-position: center;
}