.fundoCadastro {
  background-image: url("https://ik.imagekit.io/machadofatima/Blog%20Pessoal/Mobile%20login-bro.svg?updatedAt=1737758666095");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: 70%;
  background-position: center;
}