.fundoLogin {
    background-image: url("https://ik.imagekit.io/machadofatima/Blog%20Pessoal/Login-amico.svg?updatedAt=1737758666065");
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    background-size: 80%;
    background-position: center;
}