.fundoLogin {
    background-image: url("https://ik.imagekit.io/machadofatima/Blog%20Pessoal/blog_login.svg?updatedAt=1737472933079");
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    background-size: 80%;
    background-position: center;
}