.fundoLogin {
    background-image: url("https://ik.imagekit.io/machadofatima/Blog%20Pessoal/DALL_E%202025-01-16%2013.19.47%20-%20A%20modern%20and%20minimalistic%203D%20illustration%20featuring%20a%20pink-themed%20setup.%20The%20composition%20includes%20a%20wireless%20router%20with%20orange%20Wi-Fi%20signals,%20a%20speec.webp?updatedAt=1737044495141");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}