@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'New Kansas';
  src: url('/assets/fonts/new-kansas-font/New Kansas.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/assets/fonts/geist-font/Geist.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('/assets/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio';
  src: url('/assets/fonts/Gelasio/Gelasio-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}